.header-container
  #hamburger(class='icon-menu')
  h1(class='logo') Aflac : File a Claim
  //- i.icon-volume-control-phone
nav
  ul
    li
      a(href='index.html') File a Claim
    li
      a(href='#') Products
    li
      a(href='#') What We Do
    li
      a(href='#') Contact
    li
      a(href='#') Search
    li
      button.btn-secondary Contact  
