.expand-collapse-container {
	position: relative;
}

.expand-collpase-trigger:before {
	position: absolute;
	font-size: 2rem;
	width: 1em;
	height: 1em;
  line-height: 0.9em;
	right: 9px;
	top: -10px;
	padding: 0 0.325em;
	color: black;
	border-radius: $base-border-radius;
	background-color: $lightest-gray;
	font-family: arial;
	z-index: 3;
}

.expand-collpase-state {
  position: absolute;
  opacity: 0;
  top: -99999px;
  left: -99999px;
	cursor: pointer;
}

.expand-collpase-state ~ .expand-collpase-trigger:before {
  content: '-';
  cursor: pointer;
}

.expand-collpase-state:checked ~ .expand-collpase-trigger:before {
  content: '+';
  padding: 0 0.2em;
  line-height: 1em;
}

.expand-collpase-target {
	margin-bottom: $small-spacing;
	max-height: 60px;
	padding: 0.22em 0 0.22em;
	background-color: $white;
	/* Set our transitions up. */
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	&.card-list {
		dl:after {
			display: none;
		}
	}
}

.expand-collpase-state:checked ~ .expand-collpase-target {
	max-height: 0;
  overflow: hidden;
	padding: 0 $small-spacing;
}
