#content {
    position: relative;
    width: auto;
    height: 100%;
}

#contentLayer {
	display: none;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 30%;
	z-index: 5;
}

nav {
	opacity: 0;
	left: 0px;
	top: 0px;
	position: fixed;
	z-index: 0;
	width: 70%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
	background: $dark-gray;
  background: -webkit-linear-gradient(45deg,  darken($medium-gray, 50%) 0%, $dark-gray 100%);
  background: linear-gradient(45deg, darken($medium-gray, 50%) 0%, $dark-gray 100%);
	ul {
		list-style: none;
		margin: 0;
		width: 100%;
		padding: 0;
	}
	li {
		position: relative;
		font-size: 1em;
		font-weight: bold;
		border-bottom: 1px solid #222222;
		border-top: 1px solid #444444;
		padding: $small-spacing;
		a {
			color: lighten($dark-gray, 55%);
			text-decoration: none;
      font-size: 1.6rem;
      font-family: $semiBold-font-family;
      padding-left: 1rem;
		}
    button {
      width: 100%;
      background-color: lighten($dark-gray, 15%) !important;
      color: darken($lightest-gray, 20%) !important;
    }
    input[type='search'] {
			background-color: lighten($dark-gray, 10%);
		}
    .icon-neuter {
      position: absolute;
      color: $medium-gray;
      right: 2rem;
      font-size: 2rem;
      top: 1.3rem;
      transform: rotate(-40deg);
    }
	}
}
