button,
input[type=submit],
a.btn-link,
a.btn-link:active,
a.btn-link:visited {
  position: relative;
  padding: $small-spacing $base-spacing;
  cursor: pointer;
  background-color: $orange;
  text-transform: uppercase;
  font-size: $base-font-size;
  font-family: $semiBold-font-family;
  color: $white;
  min-width: 10rem;
  border: 0;
  margin-right: $small-spacing/2;
  text-transform: uppercase;
  outline: none;
  white-space: nowrap;
  &:hover {
    text-decoration: none;
    [class*="icono-"] {
      color: $medium-blue;
    }
  }
  &:active {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  }
  &:disabled {
    background-color: transparent;
    color: lighten($light-gray, 20%);
    border: 1px solid $lightest-gray;
    cursor: not-allowed;
    [class*="icono-"] {
      color: $light-gray;
    }
  }
  &:last-of-type {
    margin-right: 0;
  }
  &[hidden] {
    display: none !important;
  }
  &.btn-arrow-right {
   padding-right: $base-spacing*2 !important;
  }
}



.btn-secondary {
  background-color: $medium-gray;
  color: $white;
  &.btn-arrow-left {
   padding-left: $base-spacing*2 !important;
  }
}

.btn-danger {
  background-color: $red;
  border-color: $red;
  &:hover {
  }
}
