input[type='text'], input[type='number'], input[type='tel'],
input[type='date'], input[type='password'], input[type='file'],
input[type='tel'], input[type='email'], textarea, .radio-container, .checkbox-container {
  border: 0;
  background: $white;
  font-family: $light-font-family;
  color: lighten($dark-gray, 10%);
  padding: $small-spacing;
  -webkit-appearance:none;
  min-width: 100%;
  font-size: 1.4rem;
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  &:hover{
    cursor: text;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    background-color: $lightest-gray;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
