input[type='text'], input[type='number'], input[type='tel'],
input[type='date'], input[type='password'], input[type='file'],
input[type='tel'], input[type='email'], textarea {
  border: 1px solid lighten($light-gray, 50%);
  background: $white;
  color: $light-gray;
  padding: 0.3em $small-spacing/2;
  border-radius: $base-border-radius;
  -webkit-appearance:none;
  min-width: 24rem;
  font-size: 1.4rem;
  &:hover{
    cursor: text;
  }
  &:focus {
    border-color: lighten($light-gray, 20%);
    outline: none;
  }
  &:disabled {
    background-color: $lightest-gray;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
