/* items class */

ul,
ol {
	margin: 0;
}

dl {
  margin: 0 0 $base-spacing 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

hr {
    border-bottom: 1px solid #DDD;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 1.5em 0;
}
