doctype html
html(lang="en")   
  head
  title
    | Aflac : File a Claim
  meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  link(href='css/screen.css', rel='stylesheet')
  body
    form#container(action='review.html', novalidate)
      include includes/_header-and-main-nav.jade         
      #contentLayer
      #content
        .breadcrumb-container
          ul.breadcrumb
            li
              a(href='selection.html') 
                span Select Patient &amp; Claim Type
            li
              a(href='#') 
                span Claim Detail
            li
              a.pending(href='#') 
                span Review
            li
              a.pending(href='#') 
                span Acknowledge
        .wrapper.page-component          
          .question
            label(for='serviceDate') First date of service for this claim?
            input#serviceDate(name='when', type='date', min='2016-01-01', max='2016-12-01', required='required', data-msg='Please chose a date')          
          .question.yes-no-choice
            label(for='patientDriver') Was this a motor vehicle accident in which the patient was the driver?
            label.control.control--radio
              input.radio(type='radio', name='patientDriverRadio', value='radio_1', required='required', data-msg='Please chose Yes or No')
              .control__indicator
              |  Yes
            label.control.control--radio
              input.radio(type='radio', name='patientDriverRadio', value='radio_2')
              .control__indicator
              |  No
          .question
            label(for='accidentDetails') Accident Details 
              span (include nature of accident and injuries sustained)
            textarea#accidentDetails(style='height: 16rem;', required='required', data-msg-required='Please provide accident details', data-msg='A little detailed message please', minlength="20")
          .question.yes-no-choice
            label(for='transported') Was the patient transported to a medical facility by air or ground ambulance?
            label.control.control--radio
              input.radio(type='radio', name='transportedRadio', value='radio_1', required='required', data-msg='Please chose Yes or No')
              .control__indicator
              |  Yes
            label.control.control--radio
              input.radio(type='radio', name='transportedRadio', value='radio_2')
              .control__indicator
              |  No
          .question.yes-no-choice
            label(for='confined') Was the patient confined to a hospital for this condition?
            label.control.control--radio
              input.radio(type='radio', name='confinedRadio', value='radio_1', required='required', data-msg='Please chose Yes or No')
              .control__indicator
              |  Yes
            label.control.control--radio
              input.radio(type='radio', name='confinedRadio', value='radio_2')
              .control__indicator
              |  No
          .question.yes-no-choice
            label(for='prescribed') Was the patient prescribed anything to help him or her walk or move around, such as crutches, a brace, a wheelchair, or another device?
            label.control.control--radio
              input.radio(type='radio', name='prescribedRadio', value='radio_1', required='required', data-msg='Please chose Yes or No')
              .control__indicator
              |  Yes
            label.control.control--radio
              input.radio(type='radio', name='prescribedRadio', value='radio_2')
              .control__indicator
              |  No
          .question.yes-no-choice
            label(for='surgery') Was surgery performed as a result of this condition?
            label.control.control--radio
              input.radio(type='radio', name='surgeryRadio', value='radio_1', required='required', data-msg='Please chose Yes or No')
              .control__indicator
              |  Yes
            label.control.control--radio
              input.radio(type='radio', name='surgeryRadio', value='radio_2')
              .control__indicator
              |  No
          .question.yes-no-choice
            div
              label(for='therapy') Did the patient receive physical therapy from a licensed physical therapist for an injury sustained in this accident?
              label.control.control--radio
                input#therapyRadioYes.radio(type='radio', name='therapyRadio', value='radio_1', required='required', data-msg='Please chose Yes or No')
                .control__indicator
                |  Yes
              label#therapyRadioNo.control.control--radio                
                input.radio(type='radio', name='therapyRadio', value='radio_2')
                .control__indicator
                |  No
            .select-wrapper.sub-question#therapyYesContainer(style='display: none;')
              label(for='select_element') Number of occurrences you are filing for?
              select(name='select_element', required='required')
                optgroup(label='Option Group 1')
                  option(value='0') Select
                  option(value='1') 1
                  option(value='2') 2
                  option(value='3') 3
                  option(value='4') 4
                  option(value='5') 5
                  option(value='5') 10
          
          .question.yes-no-choice
            div
              #dialog.dialog(title='')
                p Follow-up treatment must be provided by a licensed physician. Diagnostic testing, laboratory services, and physical therapy are not payable as follow-up treatment. See your policy for your specific coverage.
              label(for='followUpTreatment') Did the patient require and receive any follow-up treatment from a physician for this condition?
                i#opener.icon-info-circled
              label#followUpTreatmentRadioYes.control.control--radio
                input.radio(type='radio', name='followUpTreatmentRadio', value='radio_1', required='required', data-msg='Please chose Yes or No')
                .control__indicator
                |  Yes
              label#followUpTreatmentRadioNo.control.control--radio
                input.radio(type='radio', name='followUpTreatmentRadio', value='radio_2')
                .control__indicator
                |  No
            .select-wrapper.sub-question#followUpTreatmentYesContainer(style='display: none;')
              label(for='select_element') Number of follow-up visits you are filing for?
              select(name='select_element', required='required')
                optgroup(label='Option Group 1')
                  option(value='1') Select
                  option(value='1') 1
                  option(value='2') 2
                  option(value='3') 3
                  option(value='3') 4
                  option(value='3') 5
                  option(value='3') 6
        .form-footer
          span.primary-actions
            button#primaryBtn.icon-right-open Next
          span#secondaryBtn.secondary-actions
            button.btn-secondary.icon-left-open Previous

script(src='javascript/vendors/jquery-3.1.0.min.js')
script(src='javascript/vendors/jquery-ui.min.js')
script(src='javascript/vendors/jquery.validate.min.js')
script(src='javascript/global-scripts.js')  

script.
  $('#secondaryBtn').click(function(){
    parent.history.back();
    return false;
  })  
  
  $('#followUpTreatmentRadioYes').click(function(){
    $('#followUpTreatmentYesContainer').show();
  })
  $('#followUpTreatmentRadioNo').click(function(){
    $('#followUpTreatmentYesContainer').hide();
  })
  
  // show/hide therapy follow up question
  $('#therapyRadioYes').click(function(){
    $('#therapyYesContainer').show();
  })
  $('#therapyRadioNo').click(function(){
    $('#therapyYesContainer').hide();
  })
  
  $("#container").validate();
  
  $( "#dialog" ).dialog({
    autoOpen: false,
    show: {
      effect: "blind",
      duration: 10
    },
    hide: {
      effect: "explode",
      duration: 10
    }
  });

  $( "#opener" ).on( "click", function() {
    $( "#dialog" ).dialog('open');
  });
