doctype html
html(lang="en")
  head
  title
    | Aflac : File a Claim
  meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  link(href='css/screen.css', rel='stylesheet')
  body
    form#container(action='claim-detail.html', novalidate)
      include includes/_header-and-main-nav.jade         
      #contentLayer
      #content
        .breadcrumb-container
          ul.breadcrumb
            li
              a(href='#') 
                span Select Patient &amp; Claim Type
            li
              a.pending(href='#') 
                span Claim Detail
            li
              a.pending(href='#') 
                span Review
            li
              a.pending(href='#') 
                span Acknowledge
        .wrapper.page-component          
          .question
            label For which person are you filing a claim 
              span (select one)?
            label.control.control--radio
              input.radio(type='radio', name='personFilingForRadio', value='radio_1', required='required', data-msg='Please chose the person the person you are filing for')
              .control__indicator
              |  Alexander Hickman
              em 02/15/1983
              
            label.control.control--radio
              input.radio(type='radio', name='personFilingForRadio', value='radio_2')
              .control__indicator
              |  Alane Hickman
              em 11/10/1986
            label.control.control--radio              
              input.radio(type='radio', name='personFilingForRadio', value='radio_3')
              .control__indicator
              |  Other
            label.error(for='personFilingForRadio')
          .question
            label(for='whyFiling') Why are you filing a claim?
            label.control.control--radio
              input.radio(type='radio', name='whyFilingRadio', value='radio_1', required='required', data-msg='Please tell us the reason you are filing for')
              .control__indicator
              |  An accident that happened to me or someone covered by my policy.
            label.control.control--radio
              input.radio(type='radio', name='whyFilingRadio', value='radio_2')
              .control__indicator
              |  Routine and Preventive Care.
            label.control.control--radio
              input.radio(type='radio', name='whyFilingRadio', value='radio_3')
              .control__indicator
              |  My reason is not listed. Please provide me with additional claim form choices.
            label.error(for='whyFilingRadio')
          .question
            label(for='when') Date of Accident?
            input#when(name='when', type='date', min='2016-01-01', max='2016-12-01', required='required', data-msg='Please chose date of accident')
          .question.yes-no-choice
            label(for='firstClaim') Is this the patient's first claim for condition?
            label.control.control--radio
              input.radio(type='radio', name='firstClaimRadio', value='radio_1', required='required', data-msg='Please choose Yes or No')
              .control__indicator
              |  Yes
            label.control.control--radio
              input.radio(type='radio', name='firstClaimRadio', value='radio_2')
              .control__indicator
              |  No
            label.error(for='firstClaimRadio')
        .form-footer
          span.primary-actions
            button#primaryBtn.icon-right-open Next
          span#secondaryBtn.secondary-actions
            button.btn-secondary.icon-left-open Previous                    
script(src='javascript/vendors/jquery-3.1.0.min.js')
script(src='javascript/vendors/jquery-ui.min.js')
script(src='javascript/vendors/jquery.validate.min.js')
script(src='javascript/global-scripts.js')
script.
  $("#container").validate();

script.
  $('#secondaryBtn').click(function(){
    parent.history.back();
    return false;
  })  
