doctype html
html(lang="en")
  head
  title
    | Aflac : File a Claim
  link(href='/css/main.css', rel='stylesheet')
  meta(name='viewport', content='width=device-width')
  body
    .header-container
      h1
        a(href='http://bradfrost.com/blog/post/atomic-web-design/') Atomic Design      
    .wrapper.page-component
      h1.main-title Atoms
      fieldset.plain-fieldset
        legend Font Family        
        p.font-thin Proxima Nova Thin
        p.font-light Proxima Nova Light
        p.font-italic Proxima Nova Regular
        p.font-semi-bold Proxima Nova Semibold
        p.font-bold Proxima Nova Bold
        
      fieldset.plain-fieldset
        legend Block Text
        h1 H1 Heading
        h2 H2 Heading
        h3 H3 Heading
        //
          <h4>h4. Heading</h4>
          <h5>h5. Heading</h5>
          <h6>h6. Heading</h6>
        strong#paragraph Paragraph
        p
          | Lorem ipsum dolor sit amet, 
          a(href='#', title='test link') test link
          |  adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.
        p
          | Lorem ipsum dolor sit amet, 
          em emphasis
          |  consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.
      fieldset.plain-fieldset
        legend List Types
        dl
          dt Definition List Title
          dd This is a definition list division.
        strong Ordered List
        ol
          li List Item 1
          li List Item 2
          li List Item 3
        strong Unordered List
        ul
          li List Item 1
          li List Item 2
          li List Item 3
        strong Ordered List
        ol.default
          li List Item 1
          li List Item 2
          li List Item 3
        strong Unordered List
        ul.default
          li List Item 1
          li List Item 2
          li List Item 3
      fieldset.plain-fieldset
        legend Buttons
        p
          button Primary
        p
          button.btn-arrow-right Primary with Arrow
        p
          button(disabled=true) Disabled
        p
          button.btn-secondary Secondary
        p
          button.btn-secondary.btn-arrow-left Secondary with Arrow
        p
          button.btn-secondary(disabled=true) Disabled
      fieldset.plain-fieldset
        legend Breadcrumb
        p
          ul.breadcrumb
            li
              a(href='#') 
                span Select Patient &amp; Claim Type
            li
              a.pending(href='#') 
                span Claim Detail
            li
              a.pending(href='#') 
                span Review
            li
              a.pending(href='#') 
                span Acknowledge
        p
          ul.breadcrumb
            li
              a(href='#') 
                span Select Patient &amp; Claim Type
            li
              a(href='#') 
                span Claim Detail
            li
              a.pending(href='#') 
                span Review
            li
              a.pending(href='#') 
                span Acknowledge
        p
          ul.breadcrumb
            li
              a(href='#') 
                span Select Patient &amp; Claim Type
            li
              a(href='#') 
                span Claim Detail
            li
              a(href='#') 
                span Review
            li
              a(href='#') 
                span Acknowledge
      fieldset.plain-fieldset
        legend Links
        |     This is a 
        a(href='javascript:void(0)') default link
        |  style.
      fieldset.plain-fieldset
        legend Spinner
        span.spinner-container
          span.spinner
      fieldset.plain-fieldset
        legend Icons
        i.icono-plus
        i.icono-check
        i.icono-cross
      fieldset.plain-fieldset
        legend Tables
        table.table-minimal(cellspacing='0', cellpadding='0')
          thead
            tr
              th Table Header 1
              th Table Header 2
              th Table Header 3
          tbody
            tr
              td Division 1
              td Division 2
              td Division 3
            tr.even
              td Division 1
              td Division 2
              td Division 3
            tr
              td Division 1
              td Division 2
              td Division 3
      hr
      h1.main-title Molecules
      fieldset.plain-fieldset
        legend#combinedInputButton CSS Dropdown
        ul.css-dropdown-wrap
          li.current-menu-item
            | Interval 2 
            span (8200-8600 ft)
            ul
              li
                | Interval 1 
                span (8600-9000 ft)
              li
                | Interval 3 
                span (7900-8200 ft)
      fieldset.plain-fieldset
        legend#combinedInputButton Combined input and button
        form
          p.input-and-button-container
            label InterACT Path
            input#text_field(type='text', pattern='[a-zA-Z0-9\s\/]+', required='')
            button.btn-secondary.light Connect
      fieldset.plain-fieldset
        legend#combinedInputButton Inline Spinner
        p.input-and-button-container
          label InterACT Path
          input#text_field(type='text', disabled='disabled')
          button.btn-secondary.light(disabled='disabled') Connect
          span.spinner-container
            span.spinner
      fieldset.plain-fieldset
        legend#combinedInputButton Inline error
        p.input-and-button-container
          label InterACT Path
          input#text_field(type='text', value='path...')
          button.btn-secondary.light Connect
          i.icono-cross
          span.error Error message
      fieldset.plain-fieldset
        legend#combinedInputButton Inline success
        p.input-and-button-container
          label InterACT Path
          input#text_field(type='text', value='path...')
          button.btn-secondary.light Connect
          i.icono-check
          span.success Success message
      fieldset.plain-fieldset
        legend#combinedInputButton Flashes
        .flash.success Success message goes here...
        .flash.alert Alert message goes here...
        .flash.warning Warning message goes here...
      fieldset.plain-fieldset
        legend#card Card
        .card
          | content...
      fieldset.plain-fieldset
        legend Card list
        .card-list
          dl
            dt BHP
            dd 0 psi
          dl
            dt WHP
            dd 0 psi
          dl
            dt Barrels pumped
            dd 0
          dl
            dt Proppant pumped
            dd 0
          dl
            dt Slurry rate
            dd 0 bbl/min
          dl
            dt Proppant concentration
            dd 0 lbm/gal
      fieldset.plain-fieldset
        legend#tabs-bar Tab bar
        ul.tab-bar
          li
            a.tab-bar-item.tab-bar_active(href='javascript:void(0)') Active
          li
            a.tab-bar-item(href='javascript:void(0)') Tab 2
          li
            a.tab-bar-item(href='javascript:void(0)') Tab 3
      fieldset.plain-fieldset
        legend#form_elements CSS expand/collapse (show by default)
        .expand-collapse-container
          input#expandCollpase.expand-collpase-state(type='checkbox')
          label.expand-collpase-trigger(for='expandCollpase', title='show/hide section')
          .expand-collpase-target
            | Content goes here...
      fieldset.plain-fieldset
        legend#form_elements Form Element
        form
          p
            label(for='text_field') Text Field:
            input#text_field(type='text')
          p
            label(for='text_area') Text Area:
            textarea#text_area
          p
            label(for='select_element') Select Element:
            select(name='select_element')
              optgroup(label='Option Group 1')
                option(value='1') Option 1
                option(value='2') Option 2
                option(value='3') Option 3
              optgroup(label='Option Group 2')
                option(value='1') Option 1
                option(value='2') Option 2
                option(value='3') Option 3
          p
            label(for='radio_buttons') Radio Buttons:
            label
              input.radio(type='radio', name='radio_button', value='radio_1')
              |  Radio 1
            label
              input.radio(type='radio', name='radio_button', value='radio_2')
              |  Radio 2
            label
              input.radio(type='radio', name='radio_button', value='radio_3')
              |  Radio 3
          p
            label(for='checkboxes') Checkboxes:
            label
              input.checkbox(type='checkbox', name='checkboxes', value='check_1')
              |  Checkbox 1
            label
              input.checkbox(type='checkbox', name='checkboxes', value='check_2')
              |  Checkbox 2
            label
              input.checkbox(type='checkbox', name='checkboxes', value='check_3')
              |  Checkbox 3
          p
            label(for='password') Password:
            input.password(type='password', name='password')
          p
            label(for='file') File Input:
            input.file(type='file', name='file')
      hr
      h1.main-title Organisms
      fieldset.plain-fieldset
        legend#form_elements Default Form
        h2 Form Title
        form
          fieldset
            p
              label(for='text_field') Text Field:
              input#text_field(type='text', pattern='[a-zA-Z0-9\s\/]+', required='')
            p
              label(for='select_element-required') Select Element:
              span.select-wrapper
                select(name='select_element-required', required='')
                  option(value='') Please select
                  option(value='1') Option 1
                  option(value='2') Option 2
                  option(value='3') Option 3
                  option(value='1') Option 1
                  option(value='2') Option 2
                  option(value='3') Option 3
            p
              label(for='radio_buttons') Radio Buttons:
              label
                input.radio(type='radio', name='radio_button', value='radio_1', required='')
                |  Radio 1
              label
                input.radio(type='radio', name='radio_button', value='radio_2')
                |  Radio 2
              label
                input.radio(type='radio', name='radio_button', value='radio_3')
                |  Radio 3
            p
              label(for='checkboxes') Checkboxes:
              label
                input.checkbox(type='checkbox', name='checkboxes', value='check_1', required='')
                |  Checkbox 1
              label
                input.checkbox(type='checkbox', name='checkboxes', value='check_2')
                |  Checkbox 2
              label
                input.checkbox(type='checkbox', name='checkboxes', value='check_3')
                |  Checkbox 3
            p.form-footer
              span.secondary-actions
                button.btn-danger Cancel
              span.primary-actions
                a.link-btn(href='javascript:void(0)') Link action
                button Submit
      fieldset.plain-fieldset
        legend#single_row_form Single row form
        .bands-container
          label Start date
          input(type='text', size='42')
          label End date
          input(type='text', size='42')
          label Top depth
          input(type='number', size='5', style='width: 7rem;')
          label Btm depth
          input(type='number', size='5', style='width: 7rem;')
          button.btn-secondary.light Show
