doctype html
html(lang="en")   
  head
  title
    | Aflac : File a Claim
  link(href='css/main.css', rel='stylesheet')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  body.review
    #container
      include includes/_header-and-main-nav.jade         
      #contentLayer
      #content
        .wrapper.page-component.with-top-padding(style='padding-top: 8rem;')      
          h1 You have completed the first part of claims filing process. 
          p Your One Day Pay (SM) processing will begin when Aflac received documents containing the following information.
          ul
            li Diagnosis
            li Date(s) services provided
            li Description of services
            li Name and address of servicing health care provider
          p(style='padding: 1em 0;')
            label(for='file') Attach file(s)
            input.file(type='file', name='file')
        .form-footer
          span.primary-actions
            button#primaryBtn.icon-right-open Finish
          span#secondaryBtn.secondary-actions
            a(href='javascript:void(0)') My Account

script(src='javascript/vendors/jquery-3.1.0.min.js')
script(src='javascript/vendors/jquery-ui.min.js')
script(src='javascript/global-scripts.js')  

script.
  $('#primaryBtn').click(function(){
      window.location.href = 'upload.html';
  }) 
  $('#secondaryBtn').click(function(){
    parent.history.back();
    return false;
  })
