doctype html
html(lang="en")   
  head
  title
    | Aflac : File a Claim
  link(href='css/screen.css', rel='stylesheet')
  meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  body.review
    form#container(action='#', novalidate)
      include includes/_header-and-main-nav.jade         
      #contentLayer
      #content
        .wrapper.page-component.with-top-padding(style='padding-top: 8rem;')      
          h1 You have completed the first part of claims filing process. 
          p Your One Day Pay (SM) processing will begin when Aflac received documents containing the following information.
          ul
            li Diagnosis
            li Date(s) services provided
            li Description of services
            li Name and address of servicing health care provider
          label(style='margin-top: 1em;') Attach file(s)
          label.file-upload(for='file')
            i.icon-upload
            
            input.file(type='file', id='file' name='file', multiple='multiple', class='inputfile', required='required', data-msg='Please attach the file(s)')
            
        .form-footer
          span.primary-actions
            button#primaryBtn.icon-right-open Finish
          span#secondaryBtn.secondary-actions
            a(href='javascript:void(0)') My Account

script(src='javascript/vendors/jquery-3.1.0.min.js')
script(src='javascript/vendors/jquery-ui.min.js')
script(src='javascript/vendors/jquery.validate.min.js')
script(src='javascript/global-scripts.js')  

script.
  $('#secondaryBtn').click(function(){
    parent.history.back();
    return false;
  })
  
  $("#container").validate();
