/* Vendor Dependencies */

@import "bourbon";
@import "grid-settings";
@import "neat";
// @import "node-refills";



/* Authored Dependencies */
@import "utilities/reset";
@import "utilities/mixins";
@import "utilities/variables";
@import "utilities/media-queries";
@import "utilities/grids";

/* Atoms */
@import "atoms/texts";
@import "atoms/headings";
@import "atoms/inputs";
@import "atoms/select";
@import "atoms/buttons";
@import "atoms/links";
@import "atoms/lists";
@import "atoms/preloader";
@import "atoms/spinner";

/* Molecules */
@import "molecules/breadcrumb";
@import "molecules/icons";
@import "molecules/main-nav";
@import "molecules/table";
@import "molecules/input-and-button";
@import "molecules/flashes";


/* Organisms */
@import "organisms/header";
@import "organisms/forms";

/* Templates */
@import "templates/default-layout";

/* Pages */


/* Icons */



/* Master Styles */

html,
body {
	max-height: 100%;
	display: block;
	overflow-x: hidden;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
	overflow-y: scroll;
}

body,
.wrapper {
	background-color: $lightest-gray;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
